.active {
  border-bottom: 5px solid white;
  background-color: brown;
}

/*  ********************************* */

.MainNavigation {
  width: 100%;
  background-color: #b80000;
  padding: 0;
}

.navMenu {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.navMenu .navHeader {
  display: inline;
}

.navMenu .navHeader .navTitle {
  font-size: 32px;
  color: #fff;
  padding: 0 10px;
}

.navMenu .navBtn {
  display: none;
}

.navMenu .navLinks {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  font-size: 18px;
  border: none;
}

.navMenu .navLinks a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #efefef;
}

.divNavLink:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navMenu .navLinks a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navMenu #navCheck {
  display: none;
}

.navMenu input {
  display: none;
}

/***********************************/

@media (max-width: 900px) {
  .navMenu .navBtn {
    display: flex;
    width: 55px;
  }
  .navMenu .navBtn label {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    border: none;
  }
  .navMenu .navBtn label:hover,
  .navMenu input:checked ~ .navBtn label {
    background-color: rgba(212, 38, 38, 0.651);
    cursor: pointer;
  }
  .navMenu .navBtn label span {
    display: block;
    width: 25px;
    height: 5px;
    background-color: #eee;
  }
  .navMenu .navLinks {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #b80000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 50px;
    left: 0px;
  }
  .navMenu .navLinks a {
    display: block;
    width: 100%;
    padding-left: 20px;
  }
  .navMenu input:not(:checked) ~ .navLinks {
    height: 0px;
  }
  .navMenu input:checked ~ .navLinks {
    height: 300px;
    overflow-y: hidden;
  }
}
